.footer {

   background-image: url(../../img/footer-bg.png);
   background-repeat: no-repeat;
   background-size: cover; 



   .footer__bg {
      padding: 54px 0 68px 0;
      background-color: #0E0E0E;
   }

   &__wrapper {
      display: flex;
      justify-content: space-between;
   }

   &__logo {
      max-width: 263px;
      flex-direction: column;
   }

   &__img {
      display: block;
      margin-bottom: 48px;
   }

   &__info {
      width: 50%;
      justify-content: space-between;
   }

   &__item:not(:last-child) {
      margin-bottom: 16px;
   }

   &__copyright {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: var(--white-color);
   }

   &__subtitle {
      margin: 0;
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: var(--white-color);
   }

   &__link {
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: var(--white-color);
      opacity: 0.5;
      transition: opacity 0.2s ease-in-out;
   }

   &__link:hover {
      opacity: 1;
   }

   &__connect {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   
   &__btn {
      width: 176px;
   }

   &__connection--list {
      margin-bottom: 20px;
   }

   &__connection--item:not(:last-child) {
      margin-bottom: 12px;
   }

   &__connection--link {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: var(--white-color);
   }

   &__connection--link svg {
      margin-right: 8px;
   }

   
}