<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="#">
        <img src="../img/logo.svg" alt="Логотип Pro Auto" class="header__logo">
      </a>
      <!-- <nav class="header__nav"> 
          <ul class="list-reset header__list">
            <li class="header__item">
              <a href="#" class="header__link">Компания</a>
            </li>
            <li class="header__item"><a href="#" class="header__link">Каталог</a></li>
            <li class="header__item"><a href="#" class="header__link">Услуги</a></li>
            <li class="header__item"><a href="#" class="header__link">Информация</a></li>
            <li class="header__item"><a href="#" class="header__link">Контакты</a></li>
          </ul>
      </nav> -->
      <nav class="header__nav">
        <ul class="list-reset header__topmenu header__list">
          <li class="header__item">
            <a href="#" class="header__link">КОМПАНИЯ</a>
          </li>
          <li class="header__item"><a href="#" class="header__link">КАТАЛОГ</a>
            <ul class="list-reset header__submenu">
              <li class="header__menu--item">
                <a href="#" class="header__link">АККУМУЛЯТОРЫ</a>
                <ul class="list-reset header__submenu">
                  <li class="header__submenu--item"><a href="#" class="header__link">АКБ MAGNUM</a></li>
                  <li class="header__submenu--item"><a href="#" class="header__link">АКБ ЗВЕРЬ</a></li>
                  <li class="header__submenu--item"><a href="#" class="header__link">ТЮМЕНСКИЙ АККУМУЛЯТОРНЫЙ ЗАВОД</a></li>
                  <li class="header__submenu--item"><a href="#" class="header__link">АКБ AKOM</a></li>
                  <li class="header__submenu--item"><a href="#" class="header__link">АКБ BARS</a></li>
                  <li class="header__submenu--item"><a href="#" class="header__link">АКБ ТЮМЕНСКИЙ МЕДВЕДЬ</a></li>
                  <li class="header__submenu--item"><a href="#" class="header__link">АКБ ENRUN</a></li>
                  <li class="header__submenu--item"><a href="#" class="header__link">АКБ UNIX (WESTA)</a></li>
                  <li class="header__submenu--item"><a href="#" class="header__link">АКБ EDCON</a></li>
                  <li class="header__submenu--item"><a href="#" class="header__link">АКБ AFA</a></li>
                  <li class="header__submenu--item"><a href="#" class="header__link">АКБ BOSCH</a></li>
                  <li class="header__submenu--item"><a href="#" class="header__link">АКБ MUTLU</a></li>
                  <li class="header__submenu--item"><a href="#" class="header__link">ОРИГИНАЛЬНЫЕ АКБ</a></li>
                  <li class="header__submenu--item"><a href="#" class="header__link">ГЕЛИЕВЫЕ АКБ OPTIMA</a></li>
                </ul>
              </li>
              <li class="header__menu--item"><a href="#" class="header__link">АВТОМАСЛА</a></li>
              <li class="header__menu--item"><a href="#" class="header__link">АКСЕССУАРЫ</a></li>
              <li class="header__menu--item"><a href="#" class="header__link">АВТОХИМИЯ</a></li>
            </ul>
          </li>
          <li class="header__item"><a href="#" class="header__link">УСЛУГИ</a></li>
          <li class="header__item"><a href="#" class="header__link">ИНФОРМАЦИЯ</a></li>
          <li class="header__item"><a href="#" class="header__link">КОНТАКТЫ</a></li>
        </ul>
      </nav>
      <button class="btn-reset header__callback main-btn">
        Заказать звонок
      </button>
      <div class="header__helpers">
        <button class="btn-reset header__search"><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M24 18C24 21.3137 21.3137 24 18 24C14.6863 24 12 21.3137 12 18C12 14.6863 14.6863 12 18 12C21.3137 12 24 14.6863 24 18ZM22.8941 26.7226C21.4474 27.536 19.7779 28 18 28C12.4772 28 8 23.5228 8 18C8 12.4772 12.4772 8 18 8C23.5228 8 28 12.4772 28 18C28 20.2954 27.2266 22.4101 25.9263 24.0979L33.4142 31.5858L30.5858 34.4142L22.8941 26.7226Z" fill="white"/>
          </svg>
          </button>
          <button class="btn-reset header__basket">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 11H33.3599L29.9849 23H14V11Z" stroke="white" stroke-width="4"/>
              <path d="M14 4L14 24.5" stroke="white" stroke-width="4"/>
              <path d="M14 6H4" stroke="white" stroke-width="4"/>
              <circle cx="17" cy="31" r="3" stroke="white" stroke-width="4"/>
              <circle cx="28" cy="31" r="3" stroke="white" stroke-width="4"/>
              </svg>
          </button>
      </div>
    </div>
  </div>
</header>
