<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>Pro Auto</title>
  <link rel="preload" href="fonts/Geometria-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Geometria-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script defer src="https://unpkg.com/accordion-js@3.3.4/dist/accordion.min.js"></script>
  <script defer src="js/nouislider.min.js"></script>
  <script defer src="js/main.js"></script>
</head>
